@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: block;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 15px;
}
.main{}
.blocks{
    margin-top: 54px;
}
.block{
    display: flex;
    border: 0.5px solid #8E8E8E;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 57px;
}
.block__img{
    position: relative;
    margin-right: 23px;
}
.block__img-img{
    position: relative;
    /* width: 100%; */
}
.block__img-desc{
    padding: 12px 34px;
    position: absolute;
    transform: translateY(42px);
    background: #099CE8;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}
.block__img-desc-o{
    background: #FFD83B;
}
.block__wrapper{
    display: flex;
    flex-direction: column;
}
.block__title{
    font-weight: 400;
    font-size: 24px;
    color: #000;
    line-height: 34px;
    margin-top: 16px;
    order: 0;

}
.block__clock{
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #9E9E9E;
    margin-top: 11px;
    order: 2
}
.block__clock::before{
    content: '';
    display: inline-block;
    background: url(../icons/clock.svg) no-repeat 0 0 / cover;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.block__items{
    margin-top: 9px;
    margin-bottom: 24px;
    order: 3;
}
.block__item-wrap{
    display: inline-block;
}
.block__item{
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #343434;
    margin-bottom: 14px;
}
.block__item:last-child{
    margin-bottom: 0;
}
.block__item::before{
    content: '';
    display: inline-block;
    background: url(../icons/check-mark.svg) no-repeat 0 0 / cover;
    width: 16px;
    height: 16px;
    margin-right: 14px;
}
.block__flights{
    display: inline-flex;
}
.block__flight{
    background: #C5DCFF;
    border-radius: 11px;
    padding: 4px 14px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #343434;
    margin-right: 6px;
    transition: background 0.5 ease;
    cursor: pointer;
}
.block__flight:last-child{
    margin-right: 0;
}
.block__flight:hover{
    background: #6BA6FF;
}
.block__wrap{
    display: flex;
    align-items: center;
    order: 4;
}
.block__prices{
}
.block__price-first{
    font-weight: normal;
    font-size: 36px;
    color: #000000;
}
.block__price-first > span{
    display: inline-block;
   background: url(../icons/Vector.svg) no-repeat 0 0;
   width: 19px;
   height: 26px;
   margin-left: 10px;
}
.block__price-second{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.block__price-second > span{
    display: inline-block;
    background: url(../icons/ruble-currency-sign.svg) no-repeat 0 0 ;
    width: 12px;
    height: 12px;
    margin-left: 2px;
    margin-right: 4px;

}
.block__btn{
    padding: 16px 42px;
    background: #FFD83C;
    border-radius: 23px;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #292929;
    text-decoration: none;
    margin-left: 12px;
}



/*Responsive*/
@media (max-width: 1199px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px){
}

@media (max-width: 575px){
    .block{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .block__img{
        margin-right: 0;
        height: 220px;
        object-fit: cover;
    }
    .block__img-img{
        width: 100%;
        height: 100%;
    }
    .block__img-desc{
        padding: 8px 16px;
        transform: translateY(41px);
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
    }
    .block__wrapper{
        padding: 0 12px;
    }
  
    .block__title{
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        order: 2;
        margin-top: 6px;
    }
    .block__clock{
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #9E9E9E;
        margin-top: 16px;
        order: 1;
    }
    .block__items{
        margin-top: 18px;
        margin-bottom: 35px;
    }
    .block__item{
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 11px;

    }
    .block__item-wrap{
        width: 90%;  
    }
    .block__item > span{
      display: inline-block;
      width: 90%;
    }
    .block__item::before{
        display: inline-block;
        margin-right: 20px;
    }

    .block__flights{
        margin-top: 7px;
    }
    .block__flight{
        padding: 2px 14px;
        display: inline-block;
        font-size: 14px;
    }
    .block__wrap{
        padding: 0 6px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 19px;
    }
    .block__price-first{
        font-size: 32px;
    }
    .block__price-first > span{
        background: url(../icons/ruble.png) 0 0 no-repeat;
        width: 19px;
        height: 22px;
        margin-left: 6px;
    }
    .block__price-second{
        font-weight: normal;
        font-size: 10px;
        line-height: 20px;
    }
    .block__price-second > span{    
      background: none;
      margin-right: 0;
    }
    .block__price-second > span::before{
        content: 'p';
        display: block;
    }
    .block__btn{
        padding: 12px 44px;
        font-size: 14px;
        line-height: 20px;
        border: 0.5px solid #CBA500;
    }

}